button.p-button.p-component.w-full.mt-2.text-white.hover\:bg-blue-500.p-button-icon-only.p-disabled.p-button-loading{
  /*background: var(--green-500);*/
}
.p-disabled, .p-component:disabled {
    opacity: 1;
}

.labelInput{
    color: #2783c5 !important;
}
.p-float-label input:focus ~ label,
.p-float-label input:-webkit-autofill ~ label,
.p-float-label input.p-filled ~ label,
.p-float-label textarea:focus ~ label,
.p-float-label textarea.p-filled ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label .p-inputwrapper-filled ~ label,
.p-float-label .p-tooltip-target-wrapper ~ label {
    color: #ffffff !important;
}
